%h1.text-center Users
.row
  .col-md-8.col-md-offset-2
    %table.table.table-bordered
      %tr
        %th
          Name
        %th
          Email
      - @users.each do |user|
        %tr
          %td 
            = user.name
          %td 
            = user.email


        
      
        
