@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

/* users */

.info {
  padding: 4px 8px 10px;

  .title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
    text-align: center;
  }

  .desc {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
    text-align: center;

    span {
      color: #000;
    }
  }
}

/* education programs */

.education_program {  
  .title {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 40px;
    line-height: 1;
    color: #333;
    vertical-align: middle;
    text-align: center;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 27px;
    line-height: 1;
    color: #222;
    vertical-align: middle;
  }

  .links {
    font-size: 20px;
  }
}

/* groups */
.group {
  .title {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 40px;
    line-height: 1;
    color: #333;
    vertical-align: middle;
    text-align: center;
  }

  .advert {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 1;
    color: #333;
    vertical-align: middle;
    text-align: center;
  }
}